/*
 qualaroo-darkui-custom.css
 QualarooMobileSDK

 Created by Artem Orynko on 07/04/16.
 Copyright © 2016 Qualaroo. All rights reserved.
 */

body,
div#qual_scrnr.qual_scrnr,
div#qual_ol.qual_ol {
    background: black;
}

div#qual_scrnr.qual_scrnr,
div#qual_ol.qual_ol {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

div#qual_ol .qual_ol_ans_item,
div#qual_ol .qual_ol_ans_item:hover {
    background: hsl(0, 0%, 28%);
    color: hsl(0, 0%, 92%);
}

div#qual_ol .qual_x_select.qual_ol_ans_item {
    background: hsl(0, 0%, 18%);
    color: hsl(0, 0%, 82%);
}

div#qual_scrnr .qual_scrnr_txt_link,
div#qual_scrnr .qual_scrnr_txt_link:hover,
div#qual_ol_send.qual_ol_btn.qual_ol_send,
div#qual_ol_send.qual_ol_btn.qual_ol_send:hover,
div#qual_ol .qual_ol_btn,
div#qual_ol .qual_ol_btn:hover {
    background-color: hsl(196, 69%, 47%);
    color: white;
}

div#qual_scrnr .qual_scrnr_txt_link:hover,
div#qual_ol_send.qual_ol_btn.qual_ol_send:hover,
div#qual_ol .qual_ol_btn:hover {
    background-color: hsl(196, 69%, 37%);
}

div#qual_ol .qual_ol_logo,
div#qual_scrnr .qual_scrnr_logo {
    background-color: hsl(210, 3%, 16%);
}

div#qual_ol .qual_ol_check_svg_icon,
div#qual_ol .qual_ol_check_svg_bg {
    stroke: white;
}
