<!--
  ~ Copyright © 2017 Qualaroo. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualaroo">

    <application>
        <activity
            android:name=".QualarooActivity"
            android:theme="@style/Qualaroo.Translucent" />
        <service
            android:name=".QualarooJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
