div#qual_ol .qual_ol_ans_item ~ .qual_ol_ans_item {
	margin-left: 0px;
}

div#qual_ol .qual_ol_ans_item {
	display: block;
	margin-bottom: 0.8em;
}

div#qual_ol fotm.qual_ol_ans_box {
	display: block;
}

div#qual_ol div#qual_ol_stuff {
	overflow: scroll;
}